name: Spell Checker

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

jobs:
  spelling:
    name: Check Spelling
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      actions: read
    steps:
      - name: check-spelling
        id: spelling
        uses: check-spelling/check-spelling@v0.0.24
        with:
          checkout: true
          spell_check_this: check-spelling/spell-check-this@v0.0.24
          post_comment: "1"
          extra_dictionary_limit: "10"
          quit_without_error: "0"
